PORT_GATEWAY=3000
PORT_AUTH=3001
PORT_PRODUCT=3002
PORT_AI=3003

MONGO_URI=mongodb://127.0.0.1:27017/app_cloud_native
JWT_SECRET=supersecretjwtkey_12345
RABBITMQ_URL=amqp://localhost:5672

OPENAI_API_KEY=your_openai_api_key_here
